body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}

h1 {

}

h2 {
    font-weight:700;
    font-size:35px;
    margin:50px 0px 50px 0px;
}

h3 {
    font-weight:400;
}

textarea {
    resize:none;
}

/* .borderless thead tr th */

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.buttons {
    margin:50px 0px 80px 0px;
}