body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
}

h1 {

}

h2 {
    font-weight:700;
    font-size:35px;
}

h3 {
    font-weight:400;
}

h4 {
    font-weight:400;
}

.row {
    margin-top:30px;
}

textarea {
    resize:none;
}

/* .borderless thead tr th */

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

.buttons {
    margin:50px 0px 80px 0px;
}

.template-example {
    font-style: italic;
    color:#aaa;
    font-weight:200;
}

.green {
    color:#68C170;
}

 .pie-legend li span {
     display: inline-block;
     width: 12px;
     height: 12px;
     margin-right: 5px;
 }

.pie-legend {
    list-style-type: none;
}

.inputcheck:hover, #selectallbox:hover {
    cursor: pointer;
}