<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    {% block stylesheets %}

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,500,400italic,500italic,700,700italic,900' rel='stylesheet' type='text/css'>

        <link href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="screen">

        <link href="{{ asset('assets/css/login.css')}}" rel="stylesheet" type="text/css" media="screen">

    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row margin-top-bart">
        <div class="col-md-12">
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</div>
</body>
</html>
