{% extends '::base.html.twig' %}

{% block body %}
    <h1>Language creation</h1>

    {{ form(form) }}

        <a href="{{ path('language') }}" type="button" class="btn btn-primary btn-cons">Back to the list</a>
{% endblock %}
