# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        intopeople_user_bundle:
            id: into_people_database.user_provider.username
        intopeople_admin_bundle:
            id: into_people_admin.user_provider.username


    firewalls:
        main:
            # Pattern should equal the pattern you configured for the bundle
            pattern: ^/[a-z]+/user
            # Or if you use a custom request_matcher configure that one instead
            #request_matcher: some.service.id

            form_login:
                provider: intopeople_user_bundle
                csrf_provider: form.csrf_provider
                login_path: into_people_database_security_login
                check_path: into_people_database_security_check
                default_target_path: homepage
                always_use_default_target_path: true
            logout:
                target: into_people_database_security_login
                path:   into_people_database_security_logout
            anonymous:    true

        admin:
            # Pattern should equal the pattern you configured for the bundle
            pattern: ^/[a-z]+/admin
            # Or if you use a custom request_matcher configure that one instead
            #request_matcher: some.service.id

            form_login:
                provider: intopeople_admin_bundle
                csrf_provider: form.csrf_provider
                check_path: into_people_admin_security_check
                login_path: into_people_admin_security_login
                default_target_path: /admin
                always_use_default_target_path: true
            logout:
                            path:   into_people_admin_security_logout
                            target: /admin
            anonymous:    true

    access_control:
        - { path: ^/[a-z]+/user/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/[a-z]+/user/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/[a-z]+/user/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/[a-z]+/user/\W*, role: IS_AUTHENTICATED_FULLY }
        - { path: ^/admin/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/\W*, role: IS_AUTHENTICATED_FULLY }
