{% extends '::base.html.twig' %} {% block body -%}

    <h2>{{ "myfeedbackcycle.index.title" | trans }}</h2>

    {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success alert-dismissible">
            <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="row">

        <div class="col-md-4">

            {{ form(form) }}

        </div>

    </div>

    <div id="result">

    </div>


{% endblock %}

{% block javascripts -%}
    {{ parent() }}

    <script>
        function getcycle() {
            $.ajax({
                url: Routing.generate('myfeedbackcycle_getcycle', {
                    generalcycleid: $('#form_generalcycle').val(),
                    _locale:locale
                }),
                success: function (result) {
                    $("#result").html(result);

                }
            });
        }

        $(function () {
            getcycle();
            $('#form_generalcycle').change(function () {
                getcycle();
            });
        });

    </script>
{% endblock %}
