{% extends '::base.html.twig' %} {% block body -%}


    {{ form(form) }}


    <div id="result"></div>

{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script>
        $('.addButton').click(function () {
            $(this).parent().parent().parent().find('.hidden').first().removeClass('hidden');

        })

        $('.removeButton').click(function () {
            $(this).parent().parent().addClass('hidden');
        })

        function getform() {
            $.ajax({
                url: Routing.generate('cdp_edit', {
                    languageId: $('#form_language').val(),
                    id: {{ entity.id }},
                    _locale:locale
                }),
                success: function (result) {
                    $("#result").html(result);
                }
            });
        }
        $(function () {
            getform();

            $('#form_language').change(function () {
                getform();
            });
        });
    </script>
{% endblock %}

