 {% extends '::base.html.twig' %} {% block body -%}
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
	<div class="modal-header">
		<button data-dismiss="modal" class="close" type="button"></button>
		<h3>Widget Settings</h3>
	</div>
	<div class="modal-body">Widget settings form goes here</div>
</div>
<div class="clearfix"></div>
<div class="container">
	<div class="content">

		<div class="page-title">
			<i class="icon-custom-left"></i>
			<h3>
				Horizontal - <span class="semi-bold">Menu</span>
			</h3>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="grid simple ">
					<div class="grid-title">
						<h4>Feedbackcycles</h4>
						<div class="tools">
							<a href="javascript:;" class="collapse"></a> <a
								href="#grid-config" data-toggle="modal" class="config"></a> <a
								href="javascript:;" class="reload"></a> <a href="javascript:;"
								class="remove"></a>
						</div>
					</div>
					<div class="grid-body">


						<h1>Feedbackcycle</h1>

						<table class="table">
							<tbody>
								<tr>
									<th>Id</th>
									<td>{{ entity.id }}</td>
								</tr>
							</tbody>
						</table>

						<ul class="record_actions">
							<a href="{{ path('feedbackcycle') }}" class="btn btn-default btn-cons" type="button"> Back to the list </a>
							<a href="{{ path('feedbackcycle_edit', { 'id': entity.id }) }}" class="btn btn-default btn-cons" type="button">Edit </a>
							{{ form(delete_form) }}
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






{% endblock %}


